.logement {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container-caroussel {
    display: flex;
    flex-direction: column;
    width: 1240px;
    position: relative;
}

.container-caroussel img {
    width: 1240px;
    height: 414px;
    border-radius: 25px;
}

.carousel-image img {
    object-fit: cover;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.carousel-buttons button {
    border: none;
    font-size: 16px;
    background-color: transparent;
  }

.carousel-buttons img {
    height: 80px;
    width: 46px;
    margin: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.carousel-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
    font-size: 18px;
  }


