.center-container {
    display: flex;
    justify-content: center;
}

.container-cart {
    display: flex;
    background-color: rgba(246, 246, 246, 1);
    flex-wrap: wrap;
    width: 1140px;
    border-radius: 25px;
    padding: 56px 50px 43px 50px;
    gap: 50px;
    margin-bottom: 50px;
}

.cart {
    display: flex;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.cart-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    margin-left: 20px;
}


@media(max-width:600px) {
    .container-cart {
        display: flex;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin-bottom: 26px;
    }

    .cart {
        height: 255px;
        width: 335px;
        border-radius: 10px;
    }

    .cart-name {
        font-size: 18px;
        margin-left: 20px;
    }    
}