.kasa-logo {
    margin: 45px 0 50px 100px;
}

.haut-de-page {
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    margin: 62px 100px 0 0;
}

.nav-li {
    list-style-type: none;
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    cursor: pointer;
}

.nav-li-right {
    margin-left: 50px;
}

.nav-li.active {
    text-decoration: underline;
}


@media(max-width:600px) {
    .kasa-logo {
        margin: 20px 0 30px 0;
        height: 42px;
    }

    .nav-ul {
        margin: 34px 0 0 0;

    }

    .nav-li {        
        font-size: 12px;
    }
}



